.gradient-custom {
    background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
}

.button-gradient {
    color: #212529;
    border-color:  rgba(246, 191, 159, 1);
}

.button-gradient:hover {
    color: #fff;
    background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%);
    border-color: rgba(246, 191, 159, 1);
}

.btn-check:focus+.button-gradient,
.button-gradient:focus {
    box-shadow: 0 0 0 .25rem rgba(219, 138, 222, 1);
}

